body {
    background: linear-gradient(135deg, #660404, #544343);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.bg-gradient {
    background: linear-gradient(135deg, #121212, #1e1e1e);
}

.form-card {
    background: #1c1c1c;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(212, 175, 55, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
}

.form-card h3 {
    color: #004cff;
    /* dorado sobrio */
    font-weight: bold;
}

.form-label {
    color: #ff0000;
}

.form-control {
    background: #242cbe;
    border: 1px solid #81a6ff;
    color: #fff;
}

.form-control:focus {
    background: #2c2c2c;
    border-color: #D4AF37;
    box-shadow: 0 0 5px #D4AF37;
    color: #fff;
}

.btn-primary {
    background-color: #D4AF37;
    border: none;
    color: #121212;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #ffbb00;
    color: #0028f3;
}

a {
    color: #ffc400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto 1.5rem auto;
    width: 220px;
    height: auto;
    filter: drop-shadow(0 0 10px rgb(255, 196, 1));
}

.form-control::placeholder {
    color: rgb(255, 243, 7);
}